.jumbotron {
  background-image: url(../img/background.jpeg);
  background-size: cover;
  height: 700px;
  text-align: center;
}
.jumbotron .display-4 {
  color: black;
  margin-top: 200px;
}
.jumbotron p {
  color: black;
  font-size: 50px;
  font-weight: bold;
}
.jumbotron hr {
  border-color: black;
  width: 400px;
  border-width: 3px;
}
