<link rel="stylesheet" href="css/isi.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="../css/isi.css">
</head>
<body>
     
    <div class="badan-utama">
        
        <header>
            <h2>KPLK Store</h2>
            <p>Tempat jual beli fashion indonesia</p>
        </header>
 
        
 
        <div class="banner">
            <img src="gambar/background.jpg" alt="baju pria">
        </div>
 
        <div class="menu-kiri">
            <div class="kotak">
                <h3>Pemesanan</h3>
                <p>
                    Isi Form Pemesanan dengan Klik Tombol di bawah ini
                </p>
 
                <a class="tombol tombol-pesan" href="#">Pesan</a>
            </div>
        </div>
 
        <div class="menu-tengah">
            <div class="kotak">
                <h3>KPLK STORE</h3>
                <span class="tanggal-posting">
                    Diposting pada 11.04 WIB, 30 October 2020
                </span>
 
                <img src="gambar/celana2.jpg" alt="Celana">
 
                <p>
                    KPLK Store merupakan aplikasi untuk pembelian segala fashion diseluruh indonesia
                    dengan adanya toko online ini kami harap semua bisa membelinya lewat hp tanpa
                    bergerak keluar rumah hanya dengan hp barang sudah sampai
                </p>
 
                <a class="tombol tombol-lengkap" href="#">Selengkapnya</a>
            </div>
        </div>  
            <div class="kotak">
                <h3>Produk Baru</h3>
 
                <nav class="menu-artikel">
                    <ul>
                        <li><a href="#">Baju renang anak</a></li>
                        <li><a href="#">Baju renang cewek</a></li>
                        <li><a href="#">Celana Chinos</a></li>
                        <li><a href="#">Celana jeans</a></li>
                        <li><a href="#">Blazzer</a></li>
                    </ul>
                </nav>
            </div>
        </div>
 
        <footer>
            @copyright 2020 || by Rifai
        </footer>
 
    </div>
 
</body>
</html>
<!-- 
    nama kelompok :
    1. Achmad Fadlan Bhahreisy (06.2018.1.06992)
    2. Dimas Pratikto (06.2018.1.06958)
    3. Miftakul Rifai (06.2018.1.06986)
 -->