<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style_home.css">
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i id="btn">-></i>
        <i id="cancel">X</i>
    </label>
        <div class="sidebar">
            <header>KPLK STORE</header>
            <ul>
                <li><a href="home_barang.html">Home</a></li>
                <li><a href="pesan_barang.html">Pesan Barang</a></li>
                <li><a href="list_pesan.html">list pesan</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
        </div>
        <section>
            <nav>
               
            </nav>
            <div class="isi">
                <img src="gambar/banner.jpg" style="width: 1366px;height: auto; ">               
            </div>
                      <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="gambar/kaos.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Kaos</h1>
                        <h2>Rp. 50.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="gambar/celana.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Celana</h1>
                        <h2>Rp. 200.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="gambar/jaket.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Jaket</h1>
                        <h2>Rp. 300.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="gambar/topi.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Topi</h1>
                        <h2>Rp. 60.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                
            </div>
        </section>
</body>
            <div class="footer"
            <p style="color: white;padding-top: 40px">| Baju | Celana | Topi |</p>
        </div>
</html>