<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Barang</title>
    <link rel="stylesheet" href="../css/style_barang.css">
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i id="btn">-></i>
        <i id="cancel">X</i>
    </label>
        <div class="sidebar">
            <header>KPLK STORE</header>
            <ul>
                <li><a href="pesan_barang.html">Pesan Barang</a></li>
                <li><a href="list_pesan.html">list pesan</a></li>
            </ul>
        </div>
        <section>
            <nav>
                <ul>
                    <li><a href="home_barang.html">logout</a></li>
                </ul>
            </nav>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="gambar/kaos.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Kaos</h1>
                        <h2>Rp. 50.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="gambar/celana.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Celana</h1>
                        <h2>Rp. 200.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="gambar/jaket.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Jaket</h1>
                        <h2>Rp. 300.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="gambar/topi.jpg" style="width: 150px;height: auto;padding-top: 10px;">
                        <h1>Topi</h1>
                        <h2>Rp. 60.000</h2>
                        <button>beli</button>
                    </div>
                </div>
                
            </div>
        </section>
</body>
</html>
<!-- 
    nama kelompok :
    1. Achmad Fadlan Bhahreisy (06.2018.1.06992)
    2. Dimas Pratikto (06.2018.1.06958)
    3. Miftakul Rifai (06.2018.1.06986)
 -->